@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');


:root{
    --gray: #fafafa;
    --artic: #f8f8f8;
    --siberia: #e7e7e7;
    --graphite: #c4c4c4;
    --not-black: #202020;

    --width: 620px;
    --width-globe-text: 200px;
    --height-globe-text: 300px;

    --border-radius: 25px;
}

*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--artic);
    display: grid;
    place-content: center;
    font-family: 'Red Hat Text', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.row{
    width: var(--width) ;
    height: var(--width);
    border: 2px solid var(--graphite);
    border-radius: var(--border-radius) var(--border-radius) 0 0 ;
    background-color: white;
    overflow: hidden;

    display: flex;
    flex-direction: row-reverse;

    z-index: 1;
    position: relative;

    
}

.carousel{
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}


.buttons{
    display: flex;
    width: var(--width);
    height: auto;
    justify-content: space-between;
    background-color: white;
    border: 1px solid var(--siberia);
    border-radius: var(--border-radius);
    padding: 15px;
    box-shadow: 0px 15px 30px rgba(32, 32, 32, 0.15);

}

.next{
    
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-name: float;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes float {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-5%);
    }
}

.buttons>button{
    width: 200px;
    height: 50px;
    text-decoration: none;
    display: grid;
    place-items: center;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    
}

.next{
    background-color: var(--not-black);
    color: white;
    border: 1px solid black;
}

.previous{
    background-color: var(--artic);
    color: var(--not-black);
    border: 1px solid var(--graphite);
}


.text-globe{
    width: var(--width);
    height: 100px;
    background-color: white;
    border: 2px solid var(--graphite);
    padding: 40px;
    text-align: center;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    display: grid;
    place-content: center;
    z-index: 3;
   
    }

/* .text-globe{
    width: var(--width-globe-text);
    height: var(--height-globe-text);
    background-color: white;
    border: 2px solid var(--graphite);
    padding: 40px;
    text-align: center;
    border-radius: 50%;

    

    display: grid;
    place-content: center;
    position: absolute; 
    right: -30px;
    top: 120px;

    z-index: 3;

    transition: transform 1s ease-in-out;
    animation-name: globe-text;
    animation-delay: 0.2s;
    transform: translateY(-50%);
   
    } */

    .frame>.img{
        background-size: 100%;
        width: var(--width);
        height: var(--width);
        z-index: -1;
        width: var(--width);
        height: var(--width);
        animation-iteration-count: infinite;
    }
    
    .frame>.scene-01{
            
        background-image: url("./img/scene-01-a.png");
        animation-name: scene-01;
        animation-duration: 0.8s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-02{
        
        background-image: url("./img/scene-02-a.png");
        animation-name: ;
        animation-duration: 0.8s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-03{
        
        background-image: url("./img/scene-03-a.png");
        animation-name: ;
        animation-duration: 0.8s;
        animation-timing-function: ease-in;
    }

    .bg-01{
        background-image: url("./img/bg-01.jpg");
        position: absolute;
        top: 0;

    }

    .bg-02{
        background-image: url("./img/bg-02.jpg");
        position: absolute;
        top: 0;

    }




        @keyframes scene-01 {
            0%{
                background-image: url("./img/scene-01-a.png");    
            }
            50%{
                background-image: url("./img/scene-01-a.png");      
            }
            51%{
                background-image: url("./img/scene-01-b.png");               
            }
            99%{
                background-image: url("./img/scene-01-b.png");          
            }
        
        }

/*small desktop*/     
@media screen and (max-height:720px){

    :root{
        --width: 480px;
    }

    
    .container{
        gap: 10px;
    }

    .buttons>button{
        font-size: 15px;
        width: 20vw;
    }

    .text-globe{
        height: 80px;
        padding: 20px;
    }
}

/*mobile*/
@media screen and (max-width:480px){

    :root{
        --width: 300px;
        --width-globe-text: 130px;
        --height-globe-text: 240px;
    }


    .buttons{
        padding: 10px;
    }

    .container{
        gap: 15px;
    }

    .buttons>button{
        font-size: 15px;
        width: 120px;
    }

    .text-globe{
        height: 120px;
        padding: 20px;
    }
}


}
