@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root{
    --gray: #fafafa;
    --artic: #f8f8f8;
    --siberia: #e7e7e7;
    --graphite: #c4c4c4;
    --not-black: #202020;

    --width: 620px;
    --width-globe-text: 200px;
    --height-globe-text: 100px;

    --border-radius: 25px;
}

*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--artic);
    display: grid;
    place-content: center;
    font-family: 'Red Hat Text', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.row{
    width: var(--width) ;
    height: var(--width);
    border: 2px solid var(--not-black);
    border-radius: var(--border-radius) var(--border-radius) 0 0 ;
    background-color: white;
    overflow: hidden;

    display: flex;
    flex-direction: row-reverse;

    z-index: 1;
    position: relative;
}


.carousel{
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}


.buttons{
    display: flex;
    width: var(--width);
    height: auto;
    justify-content: space-between;
    background-color: white;
    border: 1px solid var(--siberia);
    border-radius: var(--border-radius);
    padding: 15px;
    box-shadow: 0px 15px 30px rgba(32, 32, 32, 0.15);

}

.next{
    
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-name: float;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes float {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-8%);
    }
}

.buttons>button{
    width: 200px;
    height: 50px;
    text-decoration: none;
    display: grid;
    place-items: center;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    
}

.next{
    background-color: var(--not-black);
    color: white;
    border: 1px solid black;
}

.next:hover{
    background-color: black;
}

.previous{
    background-color: var(--artic);
    color: var(--not-black);
    border: 1px solid var(--graphite);
}
.previous:hover{
    background-color: var(--siberia);
}


.text-globe{
    width: var(--width);
    height: var(--height-globe-text);
    background-color: white;
    border: 2px solid var(--not-black   );
    padding: 40px;
    text-align: center;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    display: grid;
    place-content: center;
    z-index: 3;

    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    font-size: 18px;
   
    }
    .frame{
        overflow: hidden;
    }

    .frame>.img{
        background-size: 100%;
        width: var(--width);
        height: var(--width);
        z-index: -1;
        animation-iteration-count: infinite;
        display: grid;
    }

    
    .frame>.bg-img{
        background-size: 100%;
        width: var(--width);
        height: var(--width);
        z-index: -1;
        width: var(--width);
        height: var(--width);
        animation-iteration-count: infinite;
    }
    
    
    .frame>.scene-01{
            
        background-image: url("./img/scene-01-a.PNG");
        animation-name: scene-01;
        animation-duration: 0.8s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-02{
        
        background-image: url("./img/scene-02-a.PNG");
    }

    .frame>.scene-03{
        
        background-image: url("./img/scene-03-a.PNG");
        animation-name: scene-03;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-04{
        background-image: url("./img/scene-04-a.PNG");
    }

    .frame>.scene-05{
        
        background-image: url("./img/scene-05-a.PNG");
    }

    .frame>.scene-06{
        
        background-image: url("./img/scene-06-a.PNG");
        animation-name: scene-06 ;
        animation-duration: 1.8s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-07{
        
        background-image: url("./img/scene-07.JPG");
    }

    .frame>.scene-08{
        
        background-image: url("./img/scene-08-a.PNG");
        animation-name: scene-08 ;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
    }

    
    .frame>.scene-09-chess{
        
        background-image: url("./img/scene-09-chess.PNG");
        animation-name: scene-09-chess ;
        animation-duration: 2.5s;
        animation-timing-function: ease-in;
        
    }

    
    .frame>.scene-09-pizza{
        
        background-image: url("./img/scene-09-pizza.PNG");
        animation-name: scene-09-pizza ;
        animation-duration: 3.5s;
        animation-timing-function: ease-in;
    }

    
    .frame>.scene-09-books{
        
        background-image: url("./img/scene-09-books.PNG");
        animation-name: scene-09-books ;
        animation-duration: 3s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-10{
        
        background-image: url("./img/scene-10-a.PNG");
    }

    .frame>.scene-11{
        
        background-image: url("./img/scene-11-a.PNG");
        animation-name: scene-11 ;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-12{
        
        background-image: url("./img/scene-12.PNG");
    }

    .frame>.scene-13{
        
        background-image: url("./img/scene-13.PNG");
        animation-name: scene-13 ;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-14{
        
        background-image: url("./img/scene-14.PNG");
    }

    .frame>.scene-15{
        
        background-image: url("./img/scene-15-a.PNG");
        animation-name: scene-15 ;
        animation-duration: 3.5s;
        animation-timing-function: ease-in;
    }

    .scene-16{
        
        color: white;
        place-self: center;
        font-size: 6vw;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-name: float-text;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }

    .frame>.scene-17{
        
        background-image: url("./img/scene-17-a.PNG");
        animation-name: scene-17 ;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-18{
        
        background-image: url("./img/scene-18-a.PNG");
        animation-name: scene-18;
        animation-duration: 3s;
        animation-timing-function: ease-in;
    }

    .frame>.scene-19{
        
        background-image: url("./img/scene-19-a.PNG");
        animation-name: scene-19;
        animation-duration: 3s;
        animation-timing-function: ease;
    }

    .bg-01, .bg-02, .bg-03, .black-bg, .effect-01, .bg-03-down, .scene-09-books, .scene-09-pizza, .bg-scene-17{
        position: absolute;
        top: 0;
    }

    .bg-01{
        background-image: url("./img/bg-01.JPG");    

    }

    .bg-02{
        background-image: url("./img/bg-02.JPG");
    }

    .bg-03{
        background-image: url("./img/bg-03.JPG"); 
    }

    .bg-03-down{
        background-image: url("./img/bg-03.JPG");
        animation-name: down;
        animation-timing-function: ease-in;
        animation-duration: 10s;
        animation-delay: 1s;
    }

    .bg-scene-17{
        background-image: url("./img/scene-17-bg.PNG"); 
    }

    .black-bg{
        background: black;

    }

    .white-bg{
        background: white;
    }

    .effect-01{
        background-image: url("./img/effect-01.PNG");
        animation-name: down;
        animation-timing-function: ease-in;
        animation-duration: 10s;
        animation-delay: 1s;
    }

    @keyframes float-text {
        0%{
            transform: translateY(0%);
        }
        50%{
            transform: translateY(-15%);
        }
    }

    @keyframes scene-13 {
        0%{
            transform: scale(1);   
        }
        50%{
            transform: scale(1.1);        
        }
    }

    @keyframes scene-11 {
        0%{
            background-image: url("./img/scene-11-a.PNG");    
        }
        50%{
            background-image: url("./img/scene-11-b.PNG");      
        }
    }

    @keyframes scene-09-chess {
        0%{
            transform: translateY(0%);
        }
        50%{
            transform: translateY(-8%);
        }
    }

    @keyframes scene-09-pizza {
        0%{
            transform: translateY(0%);
        }
        50%{
            transform: translateY(-10%);
        }
    }

    @keyframes scene-09-books {
        0%{
            transform: translateY(0%);
        }
        50%{
            transform: translateY(-6%);
        }
    }
    

    @keyframes down {
        0%{
            transform: translateY(0%);
        }
        99%{
            transform: translateY(100%);
        }
        100%{
            transform: translateY(0%);
        } 
    }

    @keyframes scene-01 {
            0%{
                background-image: url("./img/scene-01-a.PNG");    
            }
            50%{
                background-image: url("./img/scene-01-a.PNG");      
            }
            51%{
                background-image: url("./img/scene-01-b.PNG");               
            }
            99%{
                background-image: url("./img/scene-01-b.PNG");          
            }
        
        }

        @keyframes scene-03 {
            0%{
                background-image: url("./img/scene-03-a.PNG");    
            }
            30%{
                background-image: url("./img/scene-03-a.PNG");      
            }
            50%{
                background-image: url("./img/scene-03-b.PNG");               
            }
            80%{
                background-image: url("./img/scene-03-b.PNG");          
            }
        
        }

        @keyframes scene-06 {
            0%{
                transform: translateY(0%);
            }
            50%{
                transform: translateY(-4%);
            }
        }

        @keyframes scene-08 {
            0%{
                background-image: url("./img/scene-08-a.PNG");    
            }
            24%{
                background-image: url("./img/scene-08-a.PNG");      
            }
            25%{
                background-image: url("./img/scene-08-b.PNG");               
            }
            49%{
                background-image: url("./img/scene-08-b.PNG");          
            }
            50%{
                background-image: url("./img/scene-08-c.PNG");          
            }
            74%{
                background-image: url("./img/scene-08-c.PNG");          
            }
            75%{
                background-image: url("./img/scene-08-d.PNG");          
            }
            99%{
                background-image: url("./img/scene-08-d.PNG");          
            }
        
        }

    @keyframes scene-15 {
        0%{
            background-image: url("./img/scene-15-a.PNG");    
        }
        30%{
            background-image: url("./img/scene-15-a.PNG");    
        }
        40%{
            background-image: url("./img/scene-15-b.PNG");      
        }
        70%{
            background-image: url("./img/scene-15-b.PNG");      
        }
        80%{
            background-image: url("./img/scene-15-a.PNG");      
        }
    }

    
    @keyframes scene-17 {
        0%{
            background-image: url("./img/scene-17-a.PNG");    
        }
        33%{
            background-image: url("./img/scene-17-a.PNG");               
        }

        35%{
            background-image: url("./img/scene-17-b.PNG");          
        }

        66%{
            background-image: url("./img/scene-17-b.PNG");          
        }
        69%{
            background-image: url("./img/scene-17-c.PNG");          
        }
        98%{
            background-image: url("./img/scene-17-c.PNG");          
        }
    }

    @keyframes scene-18 {
        0%{
            background-image: url("./img/scene-18-a.PNG");    
        }
        23%{
            background-image: url("./img/scene-18-a.PNG");               
        }

        25%{
            background-image: url("./img/scene-18-b.PNG");          
        }

        30%{
            background-image: url("./img/scene-18-b.PNG");          
        }
        33%{
            background-image: url("./img/scene-18-a.PNG");          
        }
        38%{
            background-image: url("./img/scene-18-a.PNG");          
        }
        40%{
            background-image: url("./img/scene-18-b.PNG");          
        }
        45%{
            background-image: url("./img/scene-18-b.PNG");          
        }
        47%{
            background-image: url("./img/scene-18-a.PNG");          
        }
        58%{
            background-image: url("./img/scene-18-a.PNG");          
        }
        60%{
            background-image: url("./img/scene-18-b.PNG");          
        }
        70%{
            background-image: url("./img/scene-18-b.PNG");          
        }
        72%{
            background-image: url("./img/scene-18-a.PNG");          
        }
    }

    @keyframes scene-19 {
        0%{
            background-image: url("./img/scene-19-a.PNG");    
        }
        23%{
            background-image: url("./img/scene-19-a.PNG");               
        }

        25%{
            background-image: url("./img/scene-19-b.PNG");          
        }

        30%{
            background-image: url("./img/scene-19-b.PNG");          
        }
        33%{
            background-image: url("./img/scene-19-a.PNG");          
        }
        38%{
            background-image: url("./img/scene-19-a.PNG");          
        }
        40%{
            background-image: url("./img/scene-19-b.PNG");          
        }
        45%{
            background-image: url("./img/scene-19-b.PNG");          
        }
        47%{
            background-image: url("./img/scene-19-a.PNG");          
        }
        58%{
            background-image: url("./img/scene-19-a.PNG");          
        }
        60%{
            background-image: url("./img/scene-19-b.PNG");          
        }
        70%{
            background-image: url("./img/scene-19-b.PNG");          
        }
        72%{
            background-image: url("./img/scene-19-a.PNG");          
        }
    }

/*small desktop*/     
@media screen and (max-height:720px){

    :root{
        --width: 480px;
    }

    
    .container{
        gap: 10px;
    }

    .buttons>button{
        font-size: 15px;
        width: 20vw;
    }

    .text-globe{
        height: 80px;
        padding: 20px;
    }
}

/*mobile*/
@media screen and (max-width:330px){

    :root{
        --width: 300px;
        --width-globe-text: 130px;
        --height-globe-text: 300px;
    }


    .buttons{
        padding: 10px;
    }

    .container{
        gap: 15px;
        justify-content: flex-start;
        padding-top: 15px;
    }

    .buttons>button{
        font-size: 15px;
        width: 120px;
    }

    .text-globe{
        height: 120px;
        padding: 20px;
        font-size: 20px;
    }
}

@media screen and (min-width:331px) and (max-width:399px){

    :root{
        --width: 330px;
        --width-globe-text: 130px;
        --height-globe-text: 280px;
    }


    .buttons{
        padding: 10px;
    }

    .container{
        gap: 15px;
        justify-content: flex-start;
        padding-top: 15px;
    }

    .buttons>button{
        font-size: 15px;
        width: 120px;
    }

    .text-globe{
        height: 120px;
        padding: 20px;
        font-size: 20px;
    }
}

@media screen and (min-width:400px) and (max-width:480px){

    :root{
        --width: 370px;
        --width-globe-text: 130px;
        --height-globe-text: 300px;
    }


    .buttons{
        padding: 10px;
    }

    .container{
        gap: 15px;
        justify-content: flex-start;
        padding-top: 20px;
    }

    .buttons>button{
        font-size: 15px;
        width: 120px;
    }

    .text-globe{
        height: 120px;
        padding: 20px;
        font-size: 20px;
    }
}






